.icon {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-small {
    width: 18px;
}

.icon-home {
    background-image: url(../icons/Home-Fill.svg);
    
}

.icon-explore {
    background-image: url(../icons/Explore.svg);
    
}

.icon-notification {
    background-image: url(../icons/Notifications.svg);
    
}

.icon-message {
    background-image: url(../icons/Messages.svg);
    
}

.icon-bookmark {
    background-image: url(../icons/Bookmarks.svg);
    
}

.icon-list {
    background-image: url(../icons/Lists.svg);
    
}

.icon-profile {
    background-image: url(../icons/Profile.svg);
    
}

.icon-more {
    background-image: url(../icons/More.svg);
    
}

.icon-ellipse-v {
    background-image: url(../icons/More-2.svg);

}

.icon-timeline {
    background-image: url(../icons/Timeline-Prop.svg);
    
}

.icon-emoji {
    background-image: url(../icons/Emoji.svg);   
}

.icon-gif {
    background-image: url(../icons/Gif.svg);   
}

.icon-media {
    background-image: url(../icons/Media.svg);   
}

.icon-poll {
    background-image: url(../icons/Poll.svg);   
}

.icon-schedule {
    background-image: url(../icons/Schedule.svg);   
}

.icon-verified {
    background-image: url(../icons/Verified.svg);   
}

.icon-reply {
    background-image: url(../icons/Reply.svg);   
}

.icon-retweet {
    background-image: url(../icons/Retweet.svg);   
}

.icon-react {
    background-image: url(../icons/React.svg);   
}

.icon-share {
    background-image: url(../icons/Share.svg);   
}

.icon-search {
    background-image: url(../icons/Search.svg);   
}

.icon-settings {
    background-image: url(../icons/Settings.svg);   
}





