.icon {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-small {
    width: 18px;
}

.icon-home {
    background-image: url(../icons/home-fill.svg);
    
}

.icon-explore {
    background-image: url(../icons/explore.svg);
    
}

.icon-notification {
    background-image: url(../icons/notifications.svg);
    
}

.icon-message {
    background-image: url(../icons/messages.svg);
    
}

.icon-bookmark {
    background-image: url(../icons/bookmarks.svg);
    
}

.icon-list {
    background-image: url(../icons/lists.svg);
    
}

.icon-profile {
    background-image: url(../icons/profile.svg);
    
}

.icon-more {
    background-image: url(../icons/more.svg);
    
}

.icon-private {
    background-image: url(../icons/private.svg);
    width: 20px;
    height: 20px;
}

.icon-ellipse-v {
    background-image: url(../icons/more-2.svg);

}

.icon-timeline {
    background-image: url(../icons/timeline-prop.svg);
    
}

.icon-emoji {
    background-image: url(../icons/emoji.svg);   
}

.icon-gif {
    background-image: url(../icons/gif.svg);   
}

.icon-media {
    background-image: url(../icons/media.svg);   
}

.icon-poll {
    background-image: url(../icons/poll.svg);   
}

.icon-schedule {
    background-image: url(../icons/schedule.svg);   
}

.icon-verified {
    background-image: url(../icons/verified.svg);   
}

.icon-reply {
    background-image: url(../icons/reply.svg);   
}

.icon-retweet {
    background-image: url(../icons/retweet.svg);   
}

.icon-react {
    background-image: url(../icons/react.svg);   
}

.icon-share {
    background-image: url(../icons/share.svg);   
}

.icon-search {
    background-image: url(../icons/search.svg);   
}

.icon-settings {
    background-image: url(../icons/settings.svg);   
}





